.container {
    max-width: 1200px;
    margin: 20px auto;
}

button {
    width: 25px;
}


.resBright, .resTemp {
    display: inline-block;
    margin: 10px 0px 20px 20px;
    text-align: left;
        
}